body {
	margin: 0px;
}


.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	font-family: 'Cabin Sketch', cursive;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 500px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 30px;
}
/*
h1:hover{
	font-size: 3.1em;
}
*/

img {
	width: 450px;
	height: 300px;
	margin: 15px;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}